<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="/static/open-book.png">
    <title>Smart Library</title>

    <!-- INCLUDE HTML -->
    <script>
    function includeHTML() {
      var z, i, elmnt, file, xhttp;
      /* Loop through a collection of all HTML elements: */
      z = document.getElementsByTagName("*");
      for (i = 0; i < z.length; i++) {
        elmnt = z[i];
        /*search for elements with a certain atrribute:*/
        file = elmnt.getAttribute("w3-include-html");
        if (file) {
          /* Make an HTTP request using the attribute value as the file name: */
          xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function() {
            if (this.readyState == 4) {
              if (this.status == 200) {elmnt.innerHTML = this.responseText;}
              if (this.status == 404) {elmnt.innerHTML = "Page not found.";}
              /* Remove the attribute, and call this function once more: */
              elmnt.removeAttribute("w3-include-html");
              includeHTML();
            }
          }
          xhttp.open("GET", file, true);
          xhttp.send();
          /* Exit the function: */
          return;
        }
      }
    }
    </script>

  </head>
  <body style="background-color: #eeee;">

    <div w3-include-html="nav.html"></div>

    <!-- BOOKS FORM-->
    <div class="row mt-2">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Insert Books</h5>
            <form action="/insert_book" method="POST">
              <div class="form-group">
                  <label for="exampleInputEmail1">ISBN</label>
                  <input class="form-control" type="text" placeholder="ISBN" name="ISBN" id="ISBN">
              </div>
              <div class="form-group">
                  <label for="exampleInputEmail1">Title</label>
                  <input class="form-control" type="text" placeholder="Title" name="Title" id="Title">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Description</label>
                <input class="form-control" type="text" placeholder="Description" name="Description" id="Description">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Autor</label>
                <input class="form-control" type="text" placeholder="Autor" name="Autor" id="Autor">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Category</label>
                <select class="form-control" id="select" name="select">
                  {% for single in resultCategory%}
                    <option value="{{single[0]}}">{{single[0]}}</option>
                  {% endfor %}
                </select>
            </div>
              <button type="submit" class="btn btn-success mt-2" name="action" value="savebook">Save</button>
              <button type="submit" class="btn btn-danger mt-2" name="action" value="removebook">Delete</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- BOOKS FORM-->
    <div class="row mt-2">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Insert Category</h5>
            <form action="/insert_category" method="POST">
              <div class="form-group">
                  <label for="exampleInputEmail1">Category Name</label>
                  <input class="form-control" type="text" placeholder="CategoryName" name="CategoryName" id="CategoryName">
              </div>
              <button type="submit" class="btn btn-success mt-2" name="action" value="savecat">Save</button>
              <button type="submit" class="btn btn-danger mt-2" name="action" value="deletecat">Delete</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- IncludeHTML -->
    <script>
      includeHTML();
    </script>

  </body>
</html>